<h1>Himanish Setia</h1>
<ul>
  <li>
    Technologies :  <a>AngularJS</a><a>Angular2/4/6</a><a>AppScript</a><a>Bootstrap</a><a>AJAX</a><a>JSON</a><a>NodeJS(Beginner Level)</a><a>HighchartsJS</a><a>Javascript</a><a>HTML</a><a>CSS3</a>
  </li>

  <h2>Experience</h2>
  <li>
    <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12"><span>Maven Wave Partners, Gurgaon - May, 28 2018 to Present</span></div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">Software Engineer</div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">Macro Migration</div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            Migration of Microsoft Macros to Google Cloud using Google Script and GSuite Tools for further enhancement of Google Apps.
              <ul>
                <li>Creating Add-on menus.</li>
                <li>Convert MS VBA Macros into Google AppScript.</li>
                <li>Writing custom functions for Google Sheets.</li>
                <li>Implementing Google Drive Service, Gmail Service, Google Maps Service.</li>
                <li>Creating Solution documentation for each macro after complete analysis of VBA Script.</li>
              </ul>
        </div>
    </div>

    

  </li>
</ul>
