<h1>Himanish Setia</h1>
<ul>
  <li>
    Technologies :  <a href="https://angularjs.org/" target="_blank">AngularJS</a><a href="https://angular.io/" target="_blank">Angular2/4/6</a><a href="https://developers.google.com/apps-script/" target="_blank">AppScript</a><a href="https://getbootstrap.com/" target="_blank">Bootstrap</a><a href="https://en.wikipedia.org/wiki/Ajax_(programming)" target="_blank">AJAX</a><a href="https://www.json.org/" target="_blank">JSON</a><a href="https://nodejs.org/en/" target="_blank">NodeJS(Beginner Level)</a><a href="https://www.highcharts.com/" target="_blank">HighchartsJS</a><a href="https://www.javascript.com/" target="_blank">Javascript</a><a href="https://en.wikipedia.org/wiki/HTML" target="_blank">HTML</a><a href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets" target="_blank">CSS3</a>
  </li>

  <h2>Experience</h2>
  <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span><img src="../../assets/Images/maven.png" width="70" height="15"/> Maven Wave Partners, Gurgaon </span>
          </mat-panel-title>
          <mat-panel-description>
            May, 28 2018 to Present
          </mat-panel-description>
          <mat-panel-description>
            Software Engineer
          </mat-panel-description>
        </mat-expansion-panel-header>
        

        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Sanmina</mat-card-title>
              <mat-card-subtitle>Macro Migration</mat-card-subtitle>
            </mat-card-header>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content>
                <mat-divider></mat-divider>
                Migration of Microsoft Macros to Google Cloud using Google Script and GSuite Tools for further enhancement of Google Apps.
                
                <ul>
                  <li>Creating Add-on menus.</li>
                  <li>Convert MS VBA Macros into Google AppScript.</li>
                  <li>Writing custom functions for Google Sheets.</li>
                  <li>Implementing Google Drive Service, Gmail Service, Google Maps Service.</li>
                  <li>Creating Solution documentation for each macro after complete analysis of VBA Script.</li>
                </ul>
            </mat-card-content>
          </mat-card>
        
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span><img src="../../assets/Images/shephertz.png" width="70" height="25"/>Shephertz Technologies </span>
          </mat-panel-title>
          <mat-panel-description>
              June, 1 2016 to May, 25 2018
          </mat-panel-description>
          <mat-panel-description>
            Software Developer
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-grid-list cols="2" rowHeight="2:1.2">
            <mat-grid-tile>
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Disney</mat-card-title>
                      <mat-card-subtitle>Marketing Automation</mat-card-subtitle>
                    </mat-card-header>
                    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                    <mat-card-content>
                        <mat-divider></mat-divider>
                        Migration of Microsoft Macros to Google Cloud using Google Script and GSuite Tools for further enhancement of Google Apps.
                        
                        <!-- <ul>
                          <li>Creating Add-on menus.</li>
                          <li>Convert MS VBA Macros into Google AppScript.</li>
                          <li>Writing custom functions for Google Sheets.</li>
                          <li>Implementing Google Drive Service, Gmail Service, Google Maps Service.</li>
                          <li>Creating Solution documentation for each macro after complete analysis of VBA Script.</li>
                        </ul> -->
                    </mat-card-content>
                  </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Disney</mat-card-title>
                      <mat-card-subtitle>App42 Cloud API</mat-card-subtitle>
                    </mat-card-header>
                    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                    <mat-card-content>
                        <mat-divider></mat-divider>
                        Migration of Microsoft Macros to Google Cloud using Google Script and GSuite Tools for further enhancement of Google Apps.
                        
                        <!-- <ul>
                          <li>Creating Add-on menus.</li>
                          <li>Convert MS VBA Macros into Google AppScript.</li>
                          <li>Writing custom functions for Google Sheets.</li>
                          <li>Implementing Google Drive Service, Gmail Service, Google Maps Service.</li>
                          <li>Creating Solution documentation for each macro after complete analysis of VBA Script.</li>
                        </ul> -->
                    </mat-card-content>
                  </mat-card>
            </mat-grid-tile>
          
          
          </mat-grid-list>

        

          
      </mat-expansion-panel>
    </mat-accordion>
</ul>
