<mat-grid-list cols="2" rowHeight="2:1.2">
  <mat-grid-tile>
    <div class="boxShadow animation-target">
      <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" class=""></highcharts-chart>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="boxShadow animation-target">
        <!-- <div AgWordCloud [wordData]="wordData" [options]="options"></div>
         -->
         <div>
          <angular-tag-cloud
            [data]="cloudData"
            [width]="options.width"
            [height]="options.height"
            [overflow]="options.overflow">
          </angular-tag-cloud>
        </div>
    </div>
  </mat-grid-tile>


</mat-grid-list>